.Header{
    height: 30%;
}
.Title{
    margin: 0;
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
}


.Body{
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    gap: .8rem;
}