.Navbar{
    background-color: #242526;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Title{
    color: #f5f3f3;
    font-size: 2rem;
}

.NavbarList{
    display: flex;
    flex-direction: row;
}

.ListItems{
    margin: 1rem;
    font-size: 1.1rem;
    color: #f5f3f3;
    padding: 1rem;
    border-radius: 7px;
    transition: all .2s ease;
}
.ListItems:hover,
.ListItems.active{
    background-color: #afa300;
}

@media (max-width: 815px) {
    .Navbar{
        flex-direction: column;
        height: 11rem;
    }
    .Title{
        font-size: 1rem;
    }
    .NavbarList{
        flex-direction: column;
    }
    .ListItems{
        text-align: center;
        margin: 0;
    }
}