.Title {
   color: #fff;
   font-size: 3rem;
   margin: 0;
   transition: color 0.25s linear;
}

.Title:hover {
   color: #d14200;
}

.NavbarList {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.ListItems {
   margin: 0 1.2rem 0 1.2rem;
   font-size: 1.3rem;
   color: #fff;
   padding: 1rem;
   border-radius: 7px;
   transition: all 0.2s ease;
}
.ListItems:hover,
.ListItems.active {
   background-color: #d14200;
}

@media (max-width: 815px) {
   .Title {
      font-size: 2rem;
      margin-bottom: 0;
   }
   .NavbarList {
      flex-direction: column;
   }
   .ListItems {
      text-align: center;
      margin: 0;
   }
}
