/* .Default{
    opacity: 0;
} */

/* .entering{
    opacity: 1 
}

.entered{
    opacity: 1 
}

.exiting{
    opacity: 0;
}

.exited{
    opacity: 0;
} */

.exitDone,
.Appear{
    opacity: 0;
}

.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: opacity 1000ms;
}
.exit {
    opacity: 1; 
}
.exitActive {
    opacity: 0;
    transition: opacity 1000ms;
}