/* .exitDone,
.Appear{
    opacity: 0;
}

.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: opacity 400ms;
}
.exit {
    opacity: 1; 
}
.exitActive {
    opacity: 0;
    transition: opacity 400ms;
} */