.Modal{
    position: fixed;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 75%;

    background-color: rgba(41, 41, 48, .9);
    color: white;
    box-shadow: 1px 1px 25px #111;

    z-index: 3;
    overflow: auto;
}
.Modal::-webkit-scrollbar{
    width: .4rem;
    margin-right: .5rem;
}
.Modal::-webkit-scrollbar-track{
    background: rgba(41, 41, 48, .9);
}
.Modal::-webkit-scrollbar-thumb{
    background: #91db19;
    border-radius: 5px;
}


@media (max-width: 520px) {
    .Modal{
        top: 50%;
        width: 300px;
        height: 90%;
    }
}
@media (max-width: 1440px) {
    .Modal{
        top: 50%;
        height: 95%;
    }
}