.CardContainer{
    width: 80%;
    margin: 3rem 0;
    flex: 2;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
}

@media (max-width: 1647px) {
    .CardContainer{
        width: 100%;
    }
}
@media (max-width: 950px) {
    .CardContainer{
        grid-template-columns: repeat(1, 400px);
    }
}
@media (max-width: 500px) {
    .CardContainer{
        gap: 0;
        grid-template-columns: repeat(1, 340px);
    }
}
@media (max-width: 330px) {
    .CardContainer{
        gap: 0;
        grid-template-columns: repeat(1, 300px);
    }
}