.CardContainer{
    width: 80%;
    margin: 3rem 0;
    flex: 2;
    display: grid;
    column-gap: 2rem;
    row-gap: 4rem;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
}

@media (max-width: 1900px) {
    .CardContainer{
        width: 100%;
    }
}
@media (max-width: 1250px) {
    .CardContainer{
        grid-template-columns: repeat(1, 600px);
    }
}
@media (max-width: 607px) {
    .CardContainer{
        column-gap: 1.6rem;
        grid-template-columns: repeat(1, 340px);
    }
}
@media (max-width: 330px) {
    .CardContainer{
        gap: 0;
        grid-template-columns: repeat(1, 300px);
    }
}