.Header{
    width: 80%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.Image{
    width: 636px;
    height: 393px;
    margin-bottom: 2rem;
}

.Ingredients{
    display: grid;
    gap: .8rem;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 980px) {
    .Ingredients{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 760px) {
    .Image{
        width: 312px;
        height: 231px;
    }
    .Ingredients{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 550px) {
    .Ingredients{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 480px) {
    .Ingredients{
        grid-template-columns: repeat(2, 1fr);
    }
}