.Header{
    width: 80%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.Image{
    width: 636px;
    height: 393px;
    margin-bottom: 2rem;
}

.Ingredients{
    display: grid;
    gap: .8rem;
    grid-template-columns: repeat(6, 1fr);
}