.Header{
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.Image{
    width: 636;
    height: 393;
    object-fit: contain;
    margin-right: 1rem;
}

.Ingredients{
    display: grid;
    gap: .8rem;
    grid-template-columns: repeat(3, 1fr);
}