.Ingredient{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Image{
    display: flex;
    width: 100px;
    height: 100px;
    object-fit: contain;
    justify-content: center;
}

.Title{
    font-size: 1rem;
}