.BackgroundEnter,
.BackgroundAppear {
    opacity: 0;
    transform: translateY(-60%);
}
.BackgroundEnterActive,
.BackgroundAppearActive{
    opacity: 1;
    transition: all 600ms;
    transform: translateY(0%); 
}
.BackgroundExit {
    opacity: 1;
    transform: translateY(0%);
}
.BackgroundExitActive {
    opacity: 0;
    transition: all 600ms;
    transform: translateY(-60%);
}