* {
  @import url "https://fonts.googleapis.com/css2?family=Cabin&display=swap";
}
body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

/* 
  Background: #18191a
  Navbar: #242526
*/