* {
  @import url "https://fonts.googleapis.com/css2?family=Cabin&display=swap";
}
body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  /* background-color: #18191a; */
}

a{
  text-decoration: none;
}

/* 
  Background: #18191a
  Navbar: #242526
*/